<div class="row expanded footer">
  <div class="large-12 columns">
    <p>  &copy; <%= copyright_notice_year_range(2010) %> <%= link_to "BUDDHA'S BAR & GRILL", "#" %>  All Rights Reserved.
    </p>
  </div>
</div>
