<section class="nav row expanded">
  <div class="nav">
    <div class="small-3 medium-2 large-2 columns">
      <button class="js-menu menu" type="button">
        <span class="bar"></span>
      </button>
  </div>
  <div class="small-9 medium-4 large-5 large-push-1 columns">
    <h1>Buddha's Bar & Grill</h1>
    <p class="hide-for-small-only">2517 Baldwin Rd Fenton, MI 48430</p>
  </div>
  <div class="medium-4 medium-push-2 large-4 large-push-1 columns hide-for-small-only social">
    <div class="social-wrapper">
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
    </div>
  </div>
</nav>
  <nav>
    <div class="social-wrapper show-for-small-only">
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
      <div class="social-icon">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/50x50"></a>
      </div>
    </div>
    <address>
      <p class="show-for-small-only">2517 Baldwin Rd Fenton, MI 48430</p>
    </address>
    <ul>
      <li><%= link_to('Menu', welcome_index_path) %></li>
      <li><%=  link_to('The Experience', welcome_the_experience_path) %></li>
      <li><%= link_to('Join the Team', '#') %></li>
      <li><%= link_to('Contact Us', '#' ) %></li>
    </ul>
  </nav>
</section>
